<!-- <ion-header>
  <ion-toolbar>
    <div class="text-black flex items-center text-center">
      <ion-title>Friends Management</ion-title>
    </div>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="mx-5 mt-10 mb-5">
    <div class="flex justify-between items-center">
      <div class="text-black text-3xl my-5 font-bold">Friend Request</div>
      <ion-button
        class="text-white font-bold bg-[var(--secondary-theme)] rounded-lg border border-[var(--secondary-theme)] capitalize"
        fill="clear"
        routerLink="add"
        size="small"
      >
        Add new friend
      </ion-button>
    </div>

    <div class="grid auto-grid place-items-center gap-5">
      <bsa-user-card [isFriendRequest]="true"></bsa-user-card>
      <bsa-user-card [isFriendRequest]="true"></bsa-user-card>
    </div>

    <div
      class="text-lg text-black items-center content-center justify-center flex m-5"
    >
      There are no new friend request
    </div>

    <div class="text-black text-3xl my-5 font-bold">Your Friends</div>
    <div class="grid auto-grid gap-5 place-items-center">
      <bsa-user-card></bsa-user-card>
      <bsa-user-card></bsa-user-card>
      <div
        class="text-lg text-black items-center content-center justify-center flex m-5"
      >
        You have no friend? T.T
      </div>
    </div>
  </div>
</ion-content>
