<ion-content>
  <div class="mx-5 mt-10 mb-32">
    <div class="flex justify-between items-center">
      <div class="text-black text-2xl my-5 font-bold mt-5">Bill List</div>
      <ion-button
        class="text-white text-lg font-bold bg-[var(--secondary-theme)] rounded-3xl border border-[var(--secondary-theme)] capitalize"
        fill="clear"
        (click)="openFilter()"
        size="small"
      >
        filter
      </ion-button>
    </div>

    <div class="flex flex-col items-center">
      @if (selectors.bills().length>0) { @for (bill of selectors.bills(); track
      $index) {
      <div (click)="toBillDetail(bill.id!)" class="cursor-pointer">
        <bill-card-ui [bill]="bill"></bill-card-ui>
      </div>
      } } @else {
      <div class="text-center text-2xl text-gray-500">Loading...</div>
      }
    </div>
  </div>
</ion-content>
