<div class="w-full max-w-md bg-white p-8 shadow-lg relative h-full">
  <!-- Circles Design -->
  <div
    class="absolute top-0 left-0 w-52 h-52 bg-[var(--main-theme)] rounded-full -translate-x-10 -translate-y-10"
  ></div>
  <div
    class="absolute bottom-0 right-0 w-32 h-32 bg-[var(--secondary-theme)] rounded-full translate-x-10 translate-y-10"
  ></div>
  <div class="flex flex-col items-center mt-32">
    <div class="text-3xl font-bold mt-4">Get Started!</div>
    <div class="text-lg text-gray-400">Ready To Split Your Bill?</div>
  </div>

  <div class="my-6 flex justify-center">
    <img src="assets/icon/split_bill_icon.webp" alt="logo" class="w-32 h-32" />
  </div>

  <!-- Login Screen -->
  <form nz-form [formGroup]="registerForm" class="mt-6">
    <nz-form-item>
      <nz-form-control>
        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          class="w-full p-2 text-lg bg-white rounded-lg text-gray-800 border-2 border-black"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input
          type="username"
          formControlName="username"
          placeholder="Username"
          class="w-full p-2 text-lg bg-white rounded-lg text-gray-800 border-2 border-black"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          class="w-full p-2 text-lg bg-white rounded-lg text-gray-800 border-2 border-black"
        />
      </nz-form-control>
    </nz-form-item>

    <button
      class="mt-6 w-full bg-[var(--main-theme)] text-white font-bold p-2 rounded-lg text-lg"
      (click)="onRegister()"
    >
      Sign Up
    </button>
    <div class="flex justify-center px-4">
      <div
        routerLink="/auth/login"
        class="text-black mt-3 block text-center text-md"
      >
        Already have account? Login
      </div>
    </div>
  </form>
</div>
