<!-- <ion-header>
  <ion-toolbar class="bg-[var(--secondary-theme)] ">
    <div class="flex justify-between ">
      <ion-title><div class="text-black font-bold">Hello, Bobby!</div></ion-title>
      <div class="text-4xl text-black text-center flex mr-5">
        <nz-icon nzType="bell" nzTheme="outline" />
      </div>
    </div>
  </ion-toolbar>
</ion-header> -->
<ion-router-outlet></ion-router-outlet>

<div
  *ngIf="!hideNavBar"
  class="fixed bottom-0 left-1/2 -translate-x-1/2 w-auto min-w-[400px] flex items-center justify-between p-5 bg-[var(--secondary-theme)] mb-2 rounded-full"
>
  <div
    routerLink="/home"
    [ngClass]="
      isRouteActive('/home')
        ? 'text-[var(--main-theme)] text-3xl '
        : 'text-3xl text-white'
    "
  >
    <nz-icon nzType="home" nzTheme="outline" />
  </div>
  <div (click)="toggleDarkMode()">
    <nz-icon nzType="container" nzTheme="outline" class="text-4xl" />
  </div>

  <div
    class="absolute -top-6 left-1/2 -translate-x-1/2 w-20 h-20 flex items-center justify-center text-white bg-[var(--background-color)] rounded-full shadow-lg border-4 border-[var(--secondary-theme)]"
    routerLink="/create"
    [ngClass]="
      isRouteActive('/create')
        ? 'text-3xl text-[var(--main-theme)]'
        : 'text-3xl text-white'
    "
  >
    <nz-icon nzType="plus" nzTheme="outline" />
  </div>
  <div></div>
  <div
    routerLink="/friends"
    [ngClass]="
      isRouteActive('/friends')
        ? 'text-3xl text-[var(--main-theme)]'
        : 'text-3xl text-white'
    "
  >
    <nz-icon nzType="team" nzTheme="outline" />
  </div>

  <div
    routerLink="/account"
    [ngClass]="
      isRouteActive('/account')
        ? 'text-3xl text-[var(--main-theme)]'
        : 'text-3xl text-white'
    "
  >
    <nz-icon nzType="user" nzTheme="outline" />
  </div>
</div>
