<!-- <ion-header>
  <ion-toolbar>
    <div class="text-black flex items-center text-center">
      <ion-title>Friends Management</ion-title>
    </div>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="mx-5 mt-10 mb-[40%]" [formGroup]="billForm">
    <div class="flex justify-between items-center content-center">
      <div class="flex items-center content-center gap-5">
        <ion-button
          fill="clear"
          class="no-ripple bg-[var(--secondary-theme)] rounded-lg"
          (click)="onNavigate()"
        >
          <ion-icon
            name="caret-back-outline"
            class="text-white text-xl"
          ></ion-icon>
        </ion-button>
        <div class="text-black text-xl my-5 font-bold">Create Bill</div>
      </div>

      <div class="flex items-center text-center text-xl">
        <div class="text-black">{{ currentStage }}</div>
        <span class="text-[var(--secondary-theme)]">/3</span>
      </div>
    </div>

    <!-- first stage -->
    <div *ngIf="firstStage">
      <nz-form-item>
        <div class="flex flex-col w-full">
          <div class="text-black text-xl my-5 font-bold">Bill Name</div>
          <nz-form-control>
            <input
              nz-input
              nzSize="large"
              nz-input
              placeholder="Bill's name"
              class="h-14"
              formControlName="billName"
            />
          </nz-form-control>
        </div>
      </nz-form-item>

      <nz-form-item>
        <div class="flex flex-col w-full">
          <div class="text-black text-xl mb-5 font-bold">Date</div>
          <nz-form-control>
            <nz-date-picker
              nzSize="large"
              nzFormat="dd/MM/yyyy"
              nzAllowClear="false"
              nzSuffixIcon=""
              class="shadow-lg h-14 w-full"
              formControlName="date"
            ></nz-date-picker>
          </nz-form-control>
        </div>
      </nz-form-item>

      <!-- <div class="text-black text-xl my-5 font-bold">Groups</div> -->
      <div class="text-black text-xl my-5 font-bold">Participants</div>
      <form nz-form class="mb-5" [formGroup]="searchFriendForm">
        <nz-form-control>
          <input
            nz-input
            formControlName="username"
            nzSize="large"
            nz-input
            placeholder="Find your friend"
            class="h-14"
          />
        </nz-form-control>
      </form>

      <div class="mt-5 flex flex-col w-full gap-5 items-stretch">
        <bsa-user-card
          [user]="selectors.user()!"
          [isCreateBill]="true"
          [isSelected]="true"
          [isUser]="true"
        ></bsa-user-card>
        @for (friend of selectors.friends(); track $index) {
        <bsa-user-card
          [user]="friend"
          [isCreateBill]="true"
          [isSelected]="isParticipantSelected(friend.id ?? '')"
          (toggleParticipantEvent)="handleToggleParticipant($event)"
        ></bsa-user-card>
        }
      </div>
    </div>

    <!-- second stage -->
    <div *ngIf="secondStage">
      <div class="text-black text-xl my-5 font-bold">Categories</div>
      <div
        class="grid grid-cols-2 gap-4 content-center items-center justify-center border-2 bill-border rounded-2xl p-5 mt-5"
      >
        <!-- Food -->
        <div
          (click)="selectCategory('Food')"
          [ngClass]="{
            'ring-4 ring-offset-2 ring-[#FEAE6F] scale-105 transform transition-all opacity-100':
              selectedCategory === 'Food',
            'opacity-30': selectedCategory !== 'Food'
          }"
          class="bg-[#FEAE6F] rounded-xl p-6 text-white cursor-pointer w-full h-40 flex items-center justify-center content-center flex-col transition-all"
        >
          <div class="flex justify-center mb-4">
            <ion-icon name="fast-food-outline" class="text-5xl"></ion-icon>
          </div>
          <div class="text-center text-xl font-semibold">Food</div>
        </div>

        <!-- Game -->
        <div
          (click)="selectCategory('Entertainment')"
          [ngClass]="{
            'ring-4 ring-offset-2 ring-purple-600 scale-105 transform transition-all opacity-100':
              selectedCategory === 'Entertainment',
            'opacity-30': selectedCategory !== 'Entertainment'
          }"
          class="bg-purple-600 rounded-xl p-6 text-white cursor-pointer w-full h-40 flex items-center justify-center content-center flex-col transition-all"
        >
          <div class="flex justify-center mb-4">
            <ion-icon
              name="game-controller-outline"
              class="text-5xl"
            ></ion-icon>
          </div>
          <div class="text-center text-xl font-semibold">Entertainment</div>
        </div>
        <!-- Transport -->
        <div
          (click)="selectCategory('Transport')"
          [ngClass]="{
            'ring-4 ring-offset-2 ring-blue-700 scale-105 transform transition-all opacity-100':
              selectedCategory === 'Transport',
            'opacity-30': selectedCategory !== 'Transport'
          }"
          class="bg-blue-700 rounded-xl p-6 text-white cursor-pointer w-full h-40 flex items-center justify-center content-center flex-col transition-all"
        >
          <div class="flex justify-center mb-4">
            <ion-icon name="car-outline" class="text-5xl"></ion-icon>
          </div>
          <div class="text-center text-xl font-semibold">Transport</div>
        </div>
        <!-- Others -->
        <div
          (click)="selectCategory('Others')"
          [ngClass]="{
            'ring-4 ring-offset-2 ring-[var(--secondary-theme)] scale-105 transform transition-all opacity-100':
              selectedCategory === 'Others',
            'opacity-30': selectedCategory !== 'Others'
          }"
          class="bg-[var(--secondary-theme)] rounded-xl p-6 text-white cursor-pointer w-full h-40 flex items-center justify-center content-center flex-col transition-all"
        >
          <div class="flex justify-center mb-4">
            <ion-icon name="trail-sign-outline" class="text-5xl"></ion-icon>
          </div>
          <div class="text-center text-xl font-semibold">Others</div>
        </div>
      </div>
      <div class="text-black text-xl my-5 font-bold">Upload Bill Image</div>
      <div class="flex gap-4 items-center">
        <button
          class="bg-[var(--secondary-theme)] text-white text-xl font-bold rounded-2xl px-5 py-3"
          (click)="triggerFileInput()"
          [disabled]="selectors.loadingProcess()"
        >
          {{ selectors.loadingProcess() ? "Processing..." : "Upload Bill" }}
        </button>
        <input
          type="file"
          accept="image/*"
          #fileInput
          (change)="onImageSelected($event)"
          hidden
        />
        <nz-spin
          *ngIf="selectors.loadingProcess()"
          nzSimple
          nzSize="large"
          class="text-[var(--secondary-theme)]"
        ></nz-spin>
      </div>

      <div class="text-black text-xl my-5 font-bold">Bill Details</div>
      <form nz-form>
        <div class="flex flex-col gap-4 mb-4">
          <textarea
            nz-input
            nzSize="large"
            placeholder="Description"
            [(ngModel)]="newDetailDescription"
            [ngModelOptions]="{ standalone: true }"
            [nzAutosize]="{ minRows: 2, maxRows: 4 }"
            class="overflow-hidden"
          ></textarea>
          <div class="flex gap-2">
            <input
              nz-input
              type="number"
              nzSize="large"
              placeholder="Amount"
              [(ngModel)]="newDetailAmount"
              [ngModelOptions]="{ standalone: true }"
              class="h-14"
            />
            <div class="flex justify-end">
              <div
                class="bg-[var(--secondary-theme)] text-white text-xl font-bold rounded-2xl w-32 flex items-center justify-center h-[50px]"
                (click)="addBillDetail()"
              >
                Add
              </div>
            </div>
          </div>
        </div>
      </form>

      @for (detail of billDetails; track $index) {
      <div
        class="flex gap-4 mb-4 w-full border-2 bill-border rounded-2xl p-5 items-center justify-between content-center"
      >
        <div class="text-black text-2xl">
          {{ detail.description }}
        </div>
        <div class="flex items-center gap-4">
          <div class="text-black text-xl font-bold">
            {{ formatMoneyDetail(detail.amount) }}VND
          </div>

          <ion-icon
            name="trash-outline"
            class="text-red-500 text-2xl cursor-pointer"
            (click)="deleteBillDetail($index)"
          ></ion-icon>
        </div>
      </div>
      }
      <div class="text-black text-xl my-5 font-bold">Total Amount</div>
      <div
        class="text-black text-3xl font-bold border-2 bill-border rounded-2xl p-5 bg-white"
      >
        {{ formatMoney(totalAmount ?? 0) }} VND
      </div>
    </div>
    <div *ngIf="thirdStage">
      <bsa-bill-detail
        [billInfo]="billInfo"
        [billDetails]="billDetails"
        [total_amount]="totalAmount || 0"
        [participants]="participantsArray.value"
        (payerChange)="updatePayer($event)"
        (sharedChange)="updateShared($event)"
        (billDetailsChange)="onBillDetailsChange($event)"
        (splitChange)="onSplitChange($event)"
      ></bsa-bill-detail>
    </div>
    <div
      class="z-50 text-white text-xl font-bold px-10 py-5 flex content-center items-center justify-center rounded-3xl w-80 fixed bottom-20 translate-y-1/2 left-1/2 -translate-x-1/2 bill-border"
      [ngClass]="{
        'bg-gray-400': !checkBillForm(),
        'continue-button': checkBillForm()
      }"
      [class.cursor-not-allowed]="!checkBillForm()"
      [attr.disabled]="!checkBillForm() ? true : null"
      (click)="nextStage()"
    >
      {{ currentStage === 3 ? "Create Bill" : "Continue" }}
    </div>
  </div>
</ion-content>
