.custom-datetime {
    --ion-color-primary: #3880ff;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-base: #3880ff;
    --ion-color-contrast: #000000;
    --ion-color-step-200: #f4f4f4;
    --background-rgb: 244, 244, 244;
  }