<ion-content>
  <div class="mx-5 mt-10 mb-32">
    <!-- Back Button -->
    <ion-button
      fill="clear"
      class="no-ripple bg-[var(--secondary-theme)] rounded-lg"
      (click)="onBack()"
    >
      <ion-icon
        name="caret-back-outline"
        class="text-white text-3xl"
      ></ion-icon>
    </ion-button>

    <!-- Form Section -->
    <form nz-form [formGroup]="passwordForm" class="w-full max-w-md mt-5">
      <!-- Username Field -->
      <div nz-form-item class="mb-4">
        <div nz-form-control nzHasFeedback>
          <input
            type="password"
            formControlName="current_password"
            placeholder="Current Password"
            class="w-full p-5 border rounded-lg h-20 text-2xl text-white"
          />
          <ng-container
            *ngIf="
              passwordForm.get('current_password')?.invalid &&
              passwordForm.get('current_password')?.touched
            "
          >
            <div nz-form-explain class="text-red-500">
              This field is required.
            </div>
          </ng-container>
        </div>
      </div>

      <!-- Phone Field -->
      <div nz-form-item class="mb-4">
        <div nz-form-control nzHasFeedback>
          <input
            type="password"
            formControlName="new_password"
            placeholder="New Password"
            class="w-full p-5 border rounded-lg h-20 text-2xl text-white"
          />
          <ng-container
            *ngIf="
              passwordForm.get('new_password')?.invalid &&
              passwordForm.get('new_password')?.touched
            "
          >
            <div nz-form-explain class="text-red-500">
              This field is required.
            </div>
          </ng-container>
        </div>
      </div>

      <!-- Email Field -->
      <div nz-form-item class="mb-4">
        <div nz-form-control nzHasFeedback>
          <input
            type="password"
            formControlName="confirm_password"
            placeholder="Confirm Password"
            class="w-full p-5 border rounded-lg h-20 text-2xl text-white"
          />
          <ng-container
            *ngIf="
              passwordForm.get('confirm_password')?.invalid &&
              passwordForm.get('confirm_password')?.touched
            "
          >
            <div nz-form-explain class="text-red-500">
              This field is required.
            </div>
          </ng-container>
          <ng-container
            *ngIf="
              passwordForm.hasError('passwordsMismatch') &&
              passwordForm.get('confirm_password')?.touched
            "
          >
            <div nz-form-explain class="text-red-500">
              Passwords do not match.
            </div>
          </ng-container>
        </div>
      </div>

      <!-- Update Button -->
      <div
        class="z-50 text-white text-xl font-bold px-10 py-5 flex content-center items-center justify-center rounded-3xl w-80 fixed bottom-20 translate-y-1/2 left-1/2 -translate-x-1/2 bill-border"
        (click)="onChangePassword()"
        [ngClass]="{
          'continue-button': passwordForm.valid,
          'bg-gray-400': !passwordForm.valid
        }"
      >
        Change Password
      </div>
    </form>
  </div>
</ion-content>
