<ion-content>
  <div class="mx-5 mt-10 mb-5">
    <ion-button
      fill="clear"
      class="no-ripple bg-[var(--secondary-theme)] rounded-lg"
      (click)="goBack()"
    >
      <ion-icon
        name="caret-back-outline"
        class="text-white text-4xl"
      ></ion-icon>
    </ion-button>
    <ion-searchbar
      class="rounded-lg custom-searchbar px-0"
      placeholder="Find your new friends"
    ></ion-searchbar>

    <div class="flex flex-col items-center mt-5">
      <bsa-user-card [isFriendAdd]="true"></bsa-user-card>
    </div>
  </div>
</ion-content>
