<div
  [ngClass]="{
    'friend-add': isFriendAdd,
    'friend-card': defaultCard,
    'friend-add-bill': isCreateBill
  }"
  class="bg-white rounded-2xl py-5 justify-around flex flex-row items-center content-center border-2 border-[var(--main-theme)] shadow h-[170px]"
>
  <div
    class="bg-white rounded-full shadow-md border-2 border-[var(--main-theme)] p-5"
  >
    <img
      [src]="imageUrl(user.avatarUrl!)"
      alt="user-avt"
      class="w-[70px] h-[70px] rounded-full"
    />
  </div>

  <div class="flex flex-col gap-y-2">
    <div class="text-[var(--main-theme)] font-bold text-xl">
      {{ user.username }}
    </div>
    <div class="text-sm text-black">
      {{ user.mutual_friends_count }} mutual friend(s)
    </div>

    <!-- friend request part -->
    <div *ngIf="isFriendRequest" class="flex flex-row gap-5">
      <ion-button
        fill="clear"
        class="bg-[var(--main-theme)] rounded-lg"
        (click)="acceptFriendRequest.emit(user.id)"
      >
        <ion-icon
          class="font-bold text-white text-2xl"
          name="checkmark-outline"
        ></ion-icon>
      </ion-button>
      <ion-button
        class="bg-[var(--secondary-theme)] rounded-lg"
        fill="clear"
        (click)="rejectFriendRequest.emit(user.id)"
      >
        <ion-icon
          name="close-outline"
          class="text-white text-2xl font-bold"
        ></ion-icon>
      </ion-button>
    </div>
  </div>

  <!-- add friend part  -->
  <div *ngIf="isFriendAdd">
    @if (!hasSentRequest) {
    <ion-button
      fill="clear"
      class="no-ripple bg-[var(--main-theme)] rounded-lg"
      (click)="sendFriendRequest.emit(user.id)"
    >
      <ion-icon
        name="person-add-outline"
        class="text-white text-2xl"
      ></ion-icon>
    </ion-button>
    } @else{
    <ion-button
      fill="clear"
      class="no-ripple bg-[var(--main-theme)] rounded-lg"
    >
      <div class="text-white text-xl">Sent</div>
    </ion-button>
    }
  </div>

  <!-- check select part  -->
  <div *ngIf="isCreateBill">
    <ion-checkbox
      [checked]="isSelected"
      (ionChange)="toggleParticipant($event)"
      [disabled]="isUser"
    ></ion-checkbox>
  </div>
</div>
