
@import "@ionic/angular/css/core.css";


@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";


@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


@import '@ionic/angular/css/palettes/dark.system.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ng-zorro-antd/ng-zorro-antd.css";

:root{
    // --main-theme: #6dcfd1;
    --main-theme: #6dcfd1;
    --secondary-theme: #404040;
    --font-color: #F2EFE7;
    --side-color: #9ACBD0;
    --background-color: #6dcfd1;
    // --ion-background-color: #6dcfd1 !important;
    --ion-background-color: white !important;
    --ion-toolbar-background:     white !important;
}
